{% extends 'base.html' %}

{% block title %}Demo Puzzle Trail{% endblock %}
{% block heading %}{{ location_data.location_name }}{% endblock %}

{% block content %}

{% load custom_tags %}

<div>
    <b>Description:</b><br>
    {{ location_data.location_description }}</br>
    {{ current_game_events }}
    <hr>
    <div>
        <b>Context:</b><br>
        <p>{{ story_so_far }}</p>

    </div>

    <hr>

    <b>Items:</b><br>
    <table style="width:30%">
        <col width="80%">
        <col width="20%">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% for instance in current_location_items %}
                <tr>
                    <td>{{ instance.item_name }}, {{ instance.item_description }}</td>
                    <td>
                    </td>
                </tr>
            {% empty %}
                There are no items in this location
            {% endfor %}
            </form>
    </table>

    <hr>
    <div>
        <b>Actions:</b><br>
        <table style="width:100%">
        <! col width="80%">
        <! col width="20%">

        {% if current_actions %}
        <form method="post">
            {% csrf_token %}
            {% for action in current_actions %}
                <tr>
                    <td>{{ action|get_dict_item:"action" }}</td>
                    <td>
                        <button value="{{ action }}" type="submit" class="btn btn-success" name="action">GO</button>
                        <! button value="{{ action }}" type="submit" class="btn btn-success" name="item"><! /button>

                    </td>
                </tr>
            {% endfor %}
        </form>
        {% else %}
            <tr>There is nothing you can do.</tr>
        {% endif %}
    </table>


    </div>
    <hr>

</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
