{% extends 'base.html' %}


{% block title %}Urban Puzzle Trails{% endblock %}
{% block heading %}Urban Puzzle Trails{% endblock %}

{% block content %}

  <div class="description">
        <h5>Greetings, {{ user }}</h5>
        <p>Welcome to {{ object.trail_name }}</p>
        <p>{{ object.trail_description  }}</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Start Trail</button>
        </form>
</div>
<hr>
<div>
    <h5><b>Top Scores:</b></h5>
    <table style="width:50%">
      <col width="20%">
      <col width="80%">
        {% for game in top_scores %}
            <tr>
                <td>{{ game.game_player }}</td>
                <td>{{ game.game_duration }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
